# Node
node_modules
npm-debug.log
.yarn
.yarnrc
pnpm-lock.yaml

# Laravel cache/logs
storage/*
!storage/app/public
!storage/framework
!storage/logs

# Build stuff
/public/hot
/public/storage
/public/build
tsconfig.json
.eslintrc.*
.prettierrc.*

# Git & env
.git
.env
.env.*
!.env.production

# Docker
Dockerfile
docker-compose.*

# IDE
.idea/
.vscode/

# Misc
*.log
*.md
