public/storage
public/hot
node_modules
vite.config.js
package.json
package-lock.json
pnpm-lock.yaml
tsconfig.json
.babelrc
.browserslistrc
.eslintrc.js
postcss.config.js
Dockerfile
docker-compose.yml
